html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.azul{
  background-color: blue;
}
.vermelho{
  background-color: red;
}

.rounded-full {
  border-radius: 50%;
}

